@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --inner-gutter: 28px;
    --outer-gutter: 38px;

    --font-scale: 0.127;

    --font-brand: var(--font-serif), 'SF Pro Display', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    --background: 252 100% 2%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
    color-scheme: dark;
  }
  body {
    @apply overflow-x-hidden bg-background text-foreground;
    font-feature-settings:
      'rlig' 1,
      'calt' 1;
    background-image: url(/starts.jpeg);
    background-size: 800px 800px;
  }
}

@layer components {
  .gradientprovider_provider {
    --gradient-size: calc((100% * (var(--gradient-length) - 1)) / (var(--gradient-interval-size) - 1));
    --gradient-animation-duration: 3s;
    --gradient-percentage: calc(var(--gradient-progress) * 100%);
    contain: content;
  }

  .sectionhero_headline {
    font-size: calc(var(--font-scale) * (min(1280px, 99vw) - 2 * var(--outer-gutter)));
  }

  .gradientprovider_diagonal {
    background-image: linear-gradient(135deg, var(--gradient));
    background-position: var(--gradient-percentage) var(--gradient-percentage);
    background-size: var(--gradient-size) var(--gradient-size);
  }

  @keyframes mask-reveal {
    0% {
      -webkit-mask: linear-gradient(90deg, #000 25%, #000000e6 50%, #00000000) 150% 0 /400% no-repeat;
      mask: linear-gradient(90deg, #000 25%, #000000e6 50%, #00000000) 150% 0 /400% no-repeat;
      opacity: 0;
    }

    to {
      -webkit-mask: linear-gradient(90deg, #000 25%, #000000e6 50%, #00000000) 0 /400% no-repeat;
      mask: linear-gradient(90deg, #000 25%, #000000e6 50%, #00000000) 0 /400% no-repeat;
      opacity: 1;
    }
  }

  @keyframes bubble_leftRightAnimation {
    0% {
      transform: translate(-40%, 8%);
    }
    to {
      transform: translate(80%);
    }
  }

  @keyframes bubble_leftRightAnimation2 {
    0% {
      transform: translate(35%, 4%);
    }

    to {
      transform: translate(75%, 10%);
    }
  }

  @keyframes bubble_leftRightAnimation3 {
    0% {
      transform: translate(-35%, 2%);
    }

    to {
      transform: translate(-100%, 12%);
    }
  }

  @keyframes bubble_leftRightAnimation4 {
    0% {
      transform: translate(35%);
    }

    to {
      transform: translate(100%, 3%);
    }
  }

  .animate-mask-reveal {
    animation: mask-reveal 1.8s cubic-bezier(0.33, 1, 0.68, 1) backwards;
  }

  .bg-noisy {
    background-image: url(/noise.png);
    background-repeat: repeat;
    background-size: 182px;
    opacity: 0.03;
  }

  .bubble_leftRight {
    animation: bubble_leftRightAnimation 8s ease-in-out infinite alternate;
  }

  .bubble_leftRight2 {
    animation: bubble_leftRightAnimation2 6s ease-in-out infinite alternate;
  }

  .bubble_leftRight3 {
    animation: bubble_leftRightAnimation3 7s ease-in-out infinite alternate;
  }

  .bubble_leftRight4 {
    animation: bubble_leftRightAnimation4 5s ease-in-out infinite alternate;
  }

  .bg-radial-light {
    background-image: radial-gradient(73% 73% at -12.39% 4.13%, hsla(256, 7%, 97%, 0.09) 0, hsla(256, 7%, 97%, 0) 100%);
  }

  .border-bubble {
    border-color: hsla(256, 7%, 97%, 0.08);
  }

  .bubble-circle {
    @apply after:bg-radial-light border-bubble relative -left-4 flex aspect-square w-20 items-center justify-center overflow-hidden rounded-full border bg-[#222225] after:absolute after:inset-0 after:rounded-full sm:w-24 md:w-32;
  }
}
